<h2>Create new issue here</h2>

<form action="/" method="POST">
description: <input type="text" name="description" placeholder="description"><br><br>
created at:  <input type="text" name="createdAt"  placeholder="Date"><br><br>
status: <input type="text" name="status"  placeholder="status"><br><br>
priority: <input type="text" name="priority"  placeholder="priority"><br><br>
<input type="submit" value="Add issue">


<a href="/">Return home</a>




</form>