<form action="/issues" action="POST">
description: <input type="text" name="description" value="{{ issue.description}}" placeholder="description">
created at:  <input type="text" name="description" value="{{ issue.createdAt}}" placeholder="Date">
status: <input type="text" name="status" value="{{ issue.status }}" placeholder="status">
priority: <input type="text" name="priority" value="{{ issue.priority}}" placeholder="priority">


<a href="/">Return home</a>




</form>